# Montagem do Google Drive

In [19]:
import pandas

# Carregamento de dados

In [20]:
import pandas

df = pandas.read_csv("data-aulapandas/sport-activity.csv")
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

# Visualização de dados

Um DataFrame oferece a função head() e tail() que retornam as cinco primeiras e últimas linhas de um DataFrame, respectivamente.

Por padrão, sem argumentos, essas funções retornam X linhas. Contudo, se passado um valor inteiro N, as funções retornam N linhas.

In [21]:
print(df.head(5))

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [22]:
print(df.head(10))

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.5
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0

In [23]:
print(df.tail())

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [24]:
print(df.tail(10))

     Duration  Pulse  Maxpulse  Calories
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

# Informações sobre os dados

O método **info()** de um DataFrame apresenta informações à respeito dos dados como número de registros, as colunas existentes no dataframe, contagem de valores não nulos por coluna, o tipo de dado de cada coluna e o espaço ocupado pelo DataFrame.

In [25]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None

# Descrição estatística

O método **describe()** apresenta um breve relatório estatístico apresentado a contagem de registros, média, desvio padrão, valores mínimos e máximos e os percentis.

*Observação: o percentil representa quanto dos valores estão abaixo do percentil dado*

In [30]:
df.describe()

         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.800000
std     42.299949   14.510259   16.450434   266.377134
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

In [31]:
df.describe().T

          count        mean         std    min      25%    50%    75%     max
Duration  169.0   63.846154   42.299949   15.0   45.000   60.0   60.0   300.0
Pulse     169.0  107.461538   14.510259   80.0  100.000  105.0  111.0   159.0
Maxpulse  169.0  134.047337   16.450434  100.0  124.000  131.0  141.0   184.0
Calories  164.0  375.800000  266.377134   50.3  250.925  318.6  387.6  1860.4

É possível alterar os intervalos dos percentis, passando uma lista como parâmetro

In [27]:
print(df.describe(percentiles=[0.2,0.4,0.6,0.8,0.9]))

         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.800000
std     42.299949   14.510259   16.450434   266.377134
min     15.000000   80.000000  100.000000    50.300000
20%     45.000000   98.000000  120.600000   242.600000
40%     60.000000  103.000000  129.000000   299.200000
50%     60.000000  105.000000  131.000000   318.600000
60%     60.000000  108.000000  135.000000   339.800000
80%     60.000000  114.000000  146.000000   409.220000
90%     90.000000  123.200000  153.600000   589.030000
max    300.000000  159.000000  184.000000  1860.400000

É possível especificar quais tipos de dados incluir ou excluir

In [28]:
print(df.describe(include=['float64']))

          Calories
count   164.000000
mean    375.800000
std     266.377134
min      50.300000
25%     250.925000
50%     318.600000
75%     387.600000
max    1860.400000

É possível invocar a função **info()** após a chamada da função **describe()**

In [29]:
print(df.describe(exclude=['float64']).info())

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, count to max
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  8 non-null      float64
 1   Pulse     8 non-null      float64
 2   Maxpulse  8 non-null      float64
dtypes: float64(3)
memory usage: 256.0+ bytes
None

# Contagem de linhas e colunas

In [33]:
print(df.shape)
print(df.shape[0])
print(df.shape[1])

(169, 4)
169
4

# Obter todas as colunas

In [34]:
df.columns

Index(['Duration', 'Pulse', 'Maxpulse', 'Calories'], dtype='object')

In [35]:
list(df.columns)

['Duration', 'Pulse', 'Maxpulse', 'Calories']

# Verificar a contagem de valores NaN em cada coluna

In [37]:
df.isnull().sum()

Duration    0
Pulse       0
Maxpulse    0
Calories    5
dtype: int64

# Verificar a contagem de todos os valores NaN

In [41]:
df.isnull().sum().sum()

np.int64(5)