# Importar pandas

In [1]:
import pandas

# Carregar um DataFrame a partir de um arquivo CSV
Se os dados estiverem armazenados em um arquivo separado por vírgulas (CSV), o Pandas oferece a biblioteca "read_csv()" para a leitura dos dados em um DataFrame:

In [2]:
df = pandas.read_csv("data-aulapandas/nacionalidade-income.csv")
pandas.options.display.max_rows = 10
print(df)

                  nome   idade    renda  genero              pais
0  João Fernando Diniz      19     1600       M          Portugal
1          Nicole Boll      31     5800       F          Alemanha
2         Tulio Sintra      60     3500       M            Brasil
3    Ayrton Schumacher      55    10500       M         Argentina
4          Sonia Silva      60    12000       F            Brasil
5           Joana Darc      32     2050       F            Brasil
6         Soraya Pisca      22    35000       F            Itália
7      Fernando Goiaba      40     8600       M          Colombia
8            John Isca      12     5000       M    Estados Unidos
9       Michael Jordan      60  1000000       M   Estados Unidos

# Carregando um DataFrame de um arquivo JSON
O Pandas oferece a função "read_json()" para o carregamento de um arquivo JSON em um DataFrame.

In [3]:
df = pandas.read_json("data-aulapandas/nacionalidade-income.json")

print(df)

   duracao  pulso  max-pulso  calorias
0       60    110        130       409
1       60    117        145       479
2       60    103        135       340
3       45    109        175       282
4       45    117        148       406
5       60    102        127       300